@model MeetupEvent.Models.LoginModel

<link rel="stylesheet" type="text/css" href="../Content/Loginassets/cssLogin/main.css">



<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form action="/Access/loginpage" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
                        Lütfen Giriş Yapınız

                        @if (ViewBag.Result != null)
                        {
                            <div class="alert alert-danger" role="alert">@Html.ValidationSummary(false)</div>
                            <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>

                        }
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="Email">
                        @*@Html.TextBoxFor(x => x.Email, new { @class = "input100", @type = "text" })*@
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="Password">
                        @*@Html.TextBoxFor(x => x.Password, new { @class = "input100", @type = "password" })*@
                        <span class="focus-input100"></span>
                        <span class="label-input100">Şifre</span>
                    </div>


                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Beni Hatırla
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Şifremi Unuttum
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Giriş
                        </button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
                            <a href="/Access/registerpage">Kayıt Ol</a>
                        </span>
                    </div>


                </form>

                <div class="login100-more" style="background-image: url('../Content/Loginassets/imagesLogin/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>







</body>
